[Unit]
Description=Manage VNC Server

[Service]
Type=forking
ExecStart=/usr/bin/vncserver :1
ExecStop=/usr/bin/vncserver -kill :1

User=root

[Install]
WantedBy=multi-user.target
